@font-face{
    font-family:Oswald;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:local('Oswald Regular'),local('Oswald-Regular'),url('../font/oswaldvncy/oswald-v16-vietnamese_cyrillic-regular.eot?#iefix') format('embedded-opentype'),url('../font/oswaldvncy/oswald-v16-vietnamese_cyrillic-regular.woff2') format('woff2'),url('../font/oswaldvncy/oswald-v16-vietnamese_cyrillic-regular.woff') format('woff'),url('../font/oswaldvncy/oswald-v16-vietnamese_cyrillic-regular.ttf') format('truetype')
}
@font-face{
    font-family:'Roboto Condensed';
    font-style:normal;
    font-weight:400;font-display:swap;
    src:local('Roboto Condensed'),local('RobotoCondensed-Regular'),url('../font/robotocondensed/roboto-condensed-v16-vietnamese_cyrillic-regular.eot?#iefix') format('embedded-opentype'),url('../font/robotocondensed/roboto-condensed-v16-vietnamese_cyrillic-regular.woff2') format('woff2'),url('../font/robotocondensed/roboto-condensed-v16-vietnamese_cyrillic-regular.woff') format('woff'),url('../font/robotocondensed/roboto-condensed-v16-vietnamese_cyrillic-regular.ttf') format('truetype')
}
.mb-0{
    margin-bottom: 0 !important;
}
.header-logo{
    display:block;
    width:150px;
    height:50px;
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
    text-indent:-9999px;
    white-space:nowrap;
    outline:0}
.link-color,.link-color a,a.link-color{color:#6495ed}
.link-under,.link-under a,a.link-under{color:#282c06;border-bottom:1px dotted}
.container-breadcrumb .breadcrumb{margin-top:0}

.ztop-50, .ztop-mb-50, .ztop-xs-50, , .ztop-sm-50{padding-top:50px}
.ztop-30, .ztop-mb-30{padding-top:30px}
.ztop-20, .ztop-mb-20{padding-top:20px}
.ztop-15, .ztop-mb-15{padding-top:15px}
.ztop-10, .ztop-mb-10{padding-top:10px}
.ztop-5, .ztop-mb-5{padding-top:5px}
.zbottom-30, .zbottom-mb-30{padding-bottom:30px}
.zbottom-20, .zbottom-mb-20{padding-bottom:20px}
.zbottom-15, .zbottom-mb-15{padding-bottom:15px}
.zbottom-10, .zbottom-mb-10{padding-bottom:10px}
.zbottom-5, .zbottom-mb-5{padding-bottom:5px}

.zbottom-pc-10, .zbottom-pc-15, .zbottom-pc-20, .zbottom-pc-30 {padding-bottom:0px}
.ztop-pc-10, .ztop-pc-15, .ztop-pc-20, .ztop-pc-30 {padding-bottom:0px}
@media (min-width:992px){
	.zbottom-mb-10, .zbottom-mb-15, .zbottom-mb-20, .zbottom-mb-30 {padding-bottom:0px}
	.ztop-mb-10, .ztop-mb-15, .ztop-mb-20, .ztop-mb-30, .ztop-mb-50, .ztop-sm-50 {padding-top:0px}
	.ztop-pc-30{padding-top:30px}
	.ztop-pc-20{padding-top:20px}
	.ztop-pc-15{padding-top:15px}
	.ztop-pc-10{padding-top:10px}
	.ztop-pc-5{padding-top:5px}
	.zbottom-pc-30{padding-bottom:30px}
	.zbottom-pc-20{padding-bottom:20px}
	.zbottom-pc-15{padding-bottom:15px}
	.zbottom-pc-10{padding-bottom:10px}
	.zbottom-pc-5{padding-bottom:5px}
}
@media (min-width:768px){
	.ztop-xs-50 {padding-top:0px}
}

#footer .list-link a:after{
	margin: 0px 10px;
    content: "-";
}
#footer .list-link a:last-child:after{
	margin: 0px;
    content: unset;
}
ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}
.alert-primary {
	background: linear-gradient(to right,#1ebbf045,#39dfaa1c);
	border-color: #1ebbf0;
	color: black;
}
ul.theloai-thumlist{padding-left:0}.theloai-thumlist>li{display:block;padding-left:0;margin-bottom:10px}.theloai-thumlist h2{padding-left:10px;font-size:16px;font-weight:600;margin-bottom:5px}@media (min-width:1200px){.theloai-thumlist h3{min-height:45px}}.theloai-thumlist p{margin-bottom:4px;margin-top:4px}.theloai-thumlist .thumbnail{width:74px;height:111px;float:left;box-shadow:0 2px 8px rgba(1,3,3,.16);position:relative}.theloai-thumlist .thumbnail img{width:74px;height:111px}.theloai-thumlist .rating{position:absolute;bottom:0;left:0;background:#eac100;color:#fff;font-size:13px;font-weight:300;padding:2px 8px}.theloai-thumlist .content{overflow:hidden;padding-left:10px;font-size:13px}.theloai-thumlist .text{max-height:135px;overflow:hidden}.theloai-thumlist .crop-text-2{height:36px}.theloai-thumlist h2.crop-text-2{height:43px}ul.pagination li{list-style:none;display:inline-flex;padding-bottom:5px;margin-right:3px}.pagination li.active,.pagination li.disabled{pointer-events:none;cursor:default;text-decoration:none}.pagination li:hover a{background:linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%)!important;color:#fff!important;border:solid 1px #337ab7!important}.pagination li.active a{background:linear-gradient(135deg,#39dfaa 30%,#1ebbf0 100%)!important;color:#fff!important;border:solid 1px #337ab7!important}.pagination li a{border:solid 1px #000;color:#000;padding:.7rem 1.2rem}.full-label{width:34px;height:50px;position:absolute;display:block;top:0;left:-7px;z-index:1;background:transparent url(/wp-content/themes/truyenfull/echo/img/full-label.png) no-repeat}.label-new{border:1px solid #1ebbf0;color:#1ebbf0}.label-full{border:1px solid #39dfaa;color:#39dfaa}.label-title{padding:1px 3px;font-size:13px;vertical-align:bottom;margin-left:5px}.label-new:before{content:"New"}.label-full:before{content:"Full"}.tf-flex {
    display: flex;
    align-items: center;
}
/*--------------------------------------------------------------------------
|                        Truyện mới nhất
|--------------------------------------------------------------------------*/
.row-heading {
	display: flex;
    align-items: flex-end;
    margin-bottom: 10px;    
}
.row-heading .form-group {
	margin-bottom: 0px;
}
.row-heading .heading {
	padding-top: 0px;
}
.col-line-first {
	height: 40px;
	border-right: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    display: flex;
    align-items: center;      
}
#newest .row:last-child .col-line-first, #newest .row:last-child .col-line-last {
    border-bottom: unset;
}
.col-line-first-margin {
	margin-right: 15px;
}	
.col-line-last {
	height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #CCC;
}
.col-line-last-margin {
	margin-left: 15px;
}		
.col-first {
	padding-right: 0px;
}
.col-last {
	padding-left: 0px;
}	
h1 {
	margin-bottom: 0px;
}

/*--------------------------------------------------------------------------
|                        6 Icon 
|--------------------------------------------------------------------------*/
@media (min-width: 1024px) {
    .tf_pc_absolute {
        position: absolute;
        width: calc(100% - 30px);
    } 
}
/*--------------------------------------------------------------------------
|         					Notice Follow
|--------------------------------------------------------------------------*/
#notice .explanation::after {
    color: #000;
    background: #fff;
}	

#notice .more {
    border-top: 1px dashed #1ebbf0;    
    padding: 10px 0px 5px 0px;
    text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white;
    color: black;			
}
#notice .more a {
    color: black;			
}
.explanation {
    border: 10px solid #fff;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    position: relative;
    background: -webkit-gradient(linear,left top,right top,from(#1ebbf045),to(#39dfaa1c));
    background: linear-gradient(to right,#1ebbf045,#39dfaa1c);
    margin: 0 0 1rem;
}
.explanation::after {
    content: "\f02e  Truyện Theo Dõi Vừa Update";
	font-family: FontAwesome, 'Oswald';
    color: #fff;
    font-weight: normal;
    top: -25px;
    left: 1rem;
    background: #100e17;
    padding: 0 .5rem;
    font-size: 16px;
    position: absolute;
    z-index: 1;
}	
.explanation::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 1px solid #1ebbf0;
    border-radius: 8px;
    pointer-events: none;
}
@media (min-width: 320px) {
    .remove_show_follow {
        z-index: 1;
        font-size: 22px;
        cursor: pointer;
        display: block;
        padding: 2px 0px 2px 10px;        
    }
}
@media (min-width: 1024px) {
    .remove_show_follow {
        font-size: 18px;
    } 
    .remove_show_follow:hover{
        transform: scale(1.10);         
    }
}

/*--------------------------------------------------------------------------
|         					End Notice Follow
|--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
|         					Slider
|--------------------------------------------------------------------------*/

.slick-slide strong.title a{
  color: #000;
  font-weight: bold;
  text-align: center;
}
.slider-item .premiumItem {
    pointer-events: none;
}
.slider-item.slick-current .premiumItem {
	pointer-events: unset;
}

.slider-premiumItem-img {
    padding-top: 10px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slider-premiumItem-img .slick-prev {
    left: 15px;
}
.slider-premiumItem-img .slick-arrow {
    width: 40px;
    height: 40px;
}

.slick-prev,.slick-prev-2 {
    left: -25px;
}
.slick-prev, .slick-next,.slick-prev-2, .slick-next-2 {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slider-cont .slick-slide, .slider-cont a {
    outline: 0;
}
.slider-cont .slider-item {
    float: left;
}
.slick-initialized .slick-slide {
    display: block;
}
.premiumItem .img {
    margin: 0 auto;
}
.premiumItem .img-best {
    margin: 0 auto;
}
.slick-slide img {
    display: block;
}
.slider-premiumItem-img .slick-next {
    right: 15px;
}
.slider-premiumItem-img .slick-arrow {
    width: 40px;
    height: 40px;
}
.slider-cont .slick-arrow {
    z-index: 5;
    text-align: center;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ebebeb;
    margin: 3px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
    border: 1px #1ebbf0 solid;
}
.slick-next, .slick-next-2 {
    right: -25px;
}
.slider-premiumItem-img .slider-item {
    width: 100px;
    padding: 0 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.slider-premiumItem-img .slider-item.slider-text {
    width: auto;
}
.slider-premiumItem-img .slider-item-best {
    width: 150px;
    padding: 0 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.img img {
	width: 70px;
}
.img-best img {
    width: 120px;
}
.slider-item{
    opacity: .3;	
}
.slider-item.slick-current {
    opacity: 1;
}
.slider-item-best{
    opacity: .3;    
}
.slider-item-best.slick-current {
    opacity: 1;
}
.slider-cont .slick-arrow .fa {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
ul.pagination {clear:both; padding-top: 20px}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 10px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    background-image: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
    color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
}

/*--------------------------------------------------------------------------
|         					Slider Default
|--------------------------------------------------------------------------*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*--------------------------------------------------------------------------
|         					Custom 
|--------------------------------------------------------------------------*/

#slider-premiumItem-img .crop-text-2 {
	font-size: 12px;
	margin-top: 5px;
}
.last-seen-child {
	margin-top: 5px;
}
.news-child {
	margin-top: 5px;					
}
.news-child .tf-flex {
    justify-content: space-between;               
}
.news-child .tf-flex:last-child .col-line-last {
    border-bottom: unset;            
}

.news-child .number-comment {
    margin-left: 10px;
    min-width: 30px;
}
.kk-flex {
	display: flex;
}

/*--------------------------------------------------------------------------
|                         Home
|--------------------------------------------------------------------------*/


.new-message-box {
    background: #e4f8ff;
    padding: 3px 3px 3px 0px;
    margin: 0px 0px 15px 0px;
}
.info-tab {
    background: -webkit-linear-gradient(left,#1ebbf0 30%,#39dfaa 100%);
    float: left;
    width: 40px;
    height: 36px;
    display: inline-block;
    position: relative;
    top: -2px;
}
.info-tab::before {
    font-size: 14px;
    content: "\f0a2";
    font-family: FontAwesome;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);    
}

.info-tab::after {
    content: '';
    border-style: solid;
    border-width: 0px 28px 10px 0px;
    border-color: transparent #20aeae transparent transparent;
    position: absolute;
     top: 100%; 
    left: 0;
    
}
.tip-box-success {
    background: #c4edfa;
    padding: 5px 5px 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Oswald";
    font-size: 16px;

}
.truyen_update {

}
.truyen_update_child {
    margin: 6px 10px 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #c4edfa;    
}

.truyen_update_child a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 15px;
}
.truyen_update_child a i {
    margin-right: 10px;
}
.css_tab_line {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

    
    .number-home-icon, #tab_home_2 .number {
        position: absolute;
        top: -8px;
        right: -0.5px;
        color: white;
        font-size: 10px;
        padding: 1px 5px;
        background: rgba(0,0,0,0.6);
        border: 0.5px #1ebbf0 solid;    
        border-radius: 4px;    
    }   
    #tab_home_2 .number {
        background: rgb(248 24 24);
        border: 0.5px #ff0000 solid;
    }
    .btn-home-icon {
        position: relative;
        width: 100%;
        height: 40px;
        display: flex;
        background: rgba(0,0,0,0.1);
        justify-content: center;
        align-items: center;
        color: black;
        border-radius: 5px; 
        border: 0.5px #1ebbf0 solid;
    }

    .col-btn-home-icon {
        width: calc((100% - 50px)/5);
        margin: 0px 5px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .col-btn-home-icon-parent {
        margin: 0 -5px;
    }

    @media (min-width: 320px) {
        .col-btn-home-icon {
            width: calc((100% - 100px)/5);
            margin: 0px 10px;
        }
        .col-btn-home-icon:last-child {
            display: none;
        }       
        .col-btn-home-icon-parent {
            margin: 0 -10px;
        }       
    }
    @media (min-width: 375px) {
        .col-btn-home-icon {
            width: calc((100% - 120px)/6);
            margin: 0px 10px;
        }
        .col-btn-home-icon:last-child {
            display: unset;
        }       
        .col-btn-home-icon-parent {
            margin: 0 -10px;
        }       
    }
    @media (min-width: 768px) {
        .col-btn-home-icon {
            width: calc((100% - 480px)/6);
            margin: 0px 40px;
        }
        .col-btn-home-icon:last-child {
            display: unset;
        }       
        .col-btn-home-icon-parent {
            margin: 0 -40px;
        }       
    }   
    @media (min-width: 1024px) {
        .col-btn-home-icon {
            width: calc((100% - 50px)/5);
            margin: 0px 5px;
        }
        .col-btn-home-icon:last-child {
            display: none;
        }       
        .col-btn-home-icon-parent {
            margin: 0 -5px;
        }
        .btn-home-icon:hover, .btn-home-icon-2:hover {
            transform: scale(1.10); 
        }           
    }   

    .text-home-icon {
        margin-top: 6px;
        font-size: 12px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
    }

    #notice-child {
        padding-top: 25px;
    }
    @media (min-width: 1024px) {
        #show-layout-home-1 #notice {
            position: relative;
        }
        #show-layout-home-1 #notice-child {
            position: absolute;
            width: 100%;
        }
    }


@keyframes example {
  0% {background:linear-gradient(0deg,#39dfaa 30%,#1ebbf0 100%)}
  25% {background:linear-gradient(90deg,#1ebbf0 30%,#39dfaa 100%)}
  50% {background:linear-gradient(180deg,#39dfaa 30%,#1ebbf0 100%)}
  100% {background:linear-gradient(270deg,#1ebbf0 30%,#39dfaa 100%)}
}


.btn-home-icon-2{
    background: #e5e5e5;
    background-clip: padding-box;
    border: solid 1px transparent;  
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 5px; 
}
.btn-home-icon-2:before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1;
    margin:-1px;
    border-radius:inherit;
    background:linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
/*--------------------------------------------------------------------------
|                       Notify
|--------------------------------------------------------------------------*/
#news .col-xs-2.col-lg-3 {
    text-align: right;
}
.notify-date {
    color: #ffffff;
    padding: 4px 8px;
    background: #6c757d;
    border-radius: 7px;
    margin: 0px 3px 0px 3px;
    font-size: 10px;
}
.notify-new {
    margin-right: 13px;
    width: 32px;
    height: 21px;    
}
/*--------------------------------------------------------------------------
|                      Đề cử
|--------------------------------------------------------------------------*/
#decu2 .item {
    width: calc((100% - 30px)/4);
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;        
}       

#decu2 .item:nth-child(4), #decu2 .item:nth-child(8), #decu2 .item:nth-child(12) {
    margin-right: 0px;
} 

#decu2 .item img {
    width: 100%;
    aspect-ratio: 2 / 3;
}   

#decu2 .item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}   


#decu2 {
    margin-top: 10px;
}

#decu2 .title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 3px;
    text-align: center;
    font-size: 12px;
    z-index: 3;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    height: 38px;
}



#decu2 .countdown {
    top: 0px;
    font-size: 10px;
    position: absolute;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 1;
    color: #ffc400;         
}

#decu2 .countdown em {
    font-size: 10px;
    line-height: 10px;
    padding: 21px 0px 5px 0px;
    position: absolute;
    right: -20px;
    bottom: 0px;
    left: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    color: inherit;
    background-color: currentColor;
    font-style: normal;
}

#decu2 .countdown::after {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 9px;
    content: "\f017";
    font: normal normal normal 14px/1 FontAwesome;
    background-size: 100%;
    color: white;
}

#decu2 .countdown>em::first-line{color:#fff}

@media only screen and (min-width: 540px) {
    #decu2 .item {
        width: calc((100% - 50px)/6);   
    }   
    #decu2 .item:nth-child(4), #decu2 .item:nth-child(8), #decu2 .item:nth-child(12) {
        margin-right: 10px;
    }   
    #decu2 .item:nth-child(6), #decu2 .item:nth-child(12) {
        margin-right: 0px;
    }   

}

/*--------------------------------------------------------------------------
|                      truyện hot
|--------------------------------------------------------------------------*/
.top-3-vinhdanh {
    padding: 0px;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: auto;
    max-width: 250px;
    text-align: center;
    justify-content: center;
}
.top-3-vinhdanh > li {
    width: 33.333%;
    display: block;
}
.top-3-vinhdanh > li:nth-child(1) {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}
.vinhdanhtop img {
    width: 100%;
}

.top-3-vinhdanh > li:nth-child(1) .vinhdanhtop .khung-vien-rank {
    background-image: url("https://linkjj.com/img/zvd1-min.png");
}
.top-3-vinhdanh > li:nth-child(2) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
.top-3-vinhdanh > li:nth-child(2) .vinhdanhtop .khung-vien-rank {
    background-image: url("https://linkjj.com/img/zvd2-min.png");
}
.top-3-vinhdanh > li:nth-child(3) {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}
.top-3-vinhdanh > li:nth-child(3) .vinhdanhtop .khung-vien-rank {
    background-image: url("https://linkjj.com/img/zvd3-min.png");
}
.top-3-vinhdanh > li:nth-child(2),
.top-3-vinhdanh > li:nth-child(3) {
    padding-top: 40px;
}
.top-3-vinhdanh > li:nth-child(2) .vinhdanhtop .img,
.top-3-vinhdanh > li:nth-child(3) .vinhdanhtop .img {
    width: 80%;
}
.vinhdanhtop .img {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.vinhdanhtop .img > img {
    display: block;
    width: 100%;
}
.vinhdanhtop .img .khung-vien-rank {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    left: 50%;
    top: 48%;
    transform: translate(-50%,-50%);

}

.vinhdanhtop .info {
    font-size: 12px;
}

.vinhdanhtop .info .rank-tag {
    color: #fff;
    background-image: linear-gradient( 135deg,#1ebbf0 30%,#39dfaa 100%);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
}
.vinhdanhtop:hover .img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
.vinhdanh-separator {
    margin: 0 0;
    display: block;
    width: auto;
}
.vinhdanh-separator img {
    width: 100%;
}
ul.star-rank-list {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}
.star-rank-list li {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 2px 0px;
    align-items: center;
}
.star-rank-list > li:last-child {
    border-bottom: unset;
}

.star-rank-list .number {
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    font-size: 13px;
    text-align: right;
}

.zxt1 {
    position: relative;
    margin-right: 5px;
}
.zxt1 i{
    background: -webkit-linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
    color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
    font-size: 24px;
}
.zxt2 {
    position: absolute;
    /* top: 0; */
    color: white;
    margin: auto;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.vinhdanhtop .img .overBox {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 3px;
    text-align: center;
    font-size: 12px;
    z-index: 3;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    height: 36px;
}


@media only screen and (min-width: 414px) and (max-width: 768px) {
    #ajax-topdanhvong-show {
        display: flex;
        align-items: center;
    }
    ul.star-rank-list {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 768px) {
    .top-3-vinhdanh {
        max-width: 300px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    ul.star-rank-list li:nth-child(n+3) {
        display: none;
    }
}
@media (min-width: 1200px) {  
    ul.star-rank-list li:nth-child(3) {
        border-bottom: unset;
    }  
    ul.star-rank-list li:nth-child(n+4) {
        display: none;
    }
    .top-3-vinhdanh {
        max-width: 230px;
    }

}

/*--------------------------------------------------------------------------
|                      top danh vọng
|--------------------------------------------------------------------------*/

ul.list-ranking {
    list-style: none;
    padding: 0;
    margin: 0;
}


.book-cover {
    -webkit-transform: perspective(70px) rotateY(-10deg);
    -moz-transform: perspective(70px) rotateY(-10deg);
    transform: perspective(70px) rotateY(-10deg);
}
.book-cover-link {
    position: relative;
    z-index: 10;
    display: inline-block;
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.book-cover img {
    width: 60px;
    height: 90px;
    outline: 1px
    solid transparent;
}
.book-cover span {
    position: absolute;
    display: none;
    z-index: 1;
    top: 84.1%;
    left: 7px;
    width: 20px;
    height: 10px;
    content: "";
    -webkit-transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
    -moz-transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
    -ms-transform: scale(0);
    transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
    -webkit-box-shadow: 25px 0 5px 5px #adadad;
    -moz-box-shadow: 25px 0 5px 5px #adadad;
    box-shadow: 25px 0 5px 5px #adadad;
}
.book-cover:after {
    position: absolute;
    z-index: 2;
    top: 2%;
    left: 99%;
    width: 10%;
    height: 96%;
    content: " ";
    -webkit-transform: perspective(70px) rotateY(30deg);
    -moz-transform: perspective(70px) rotateY(30deg);
    transform: perspective(70px) rotateY(30deg);
    background-color: #efefef;
    -webkit-box-shadow: inset 0 0 5px #333;
    -moz-box-shadow: inset 0 0 5px #333;
    box-shadow: inset 0 0 5px #333;
}

.list-ranking .item {
    position: relative;
    padding-left: 2.25rem;
}

.list-ranking .item .index {
    font-weight: 600;
    width: 24px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 32px;
    text-align: center;
}

.list-ranking .item .index.index-1 {
    bottom: auto;
    top: 10px;
}

.item-number {
    margin-left: 10px;
}
.list-ranking .item .media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: space-between;
}
.text-overflow-1-lines {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.list-ranking .item .media .view {
    padding: 5px 0px;
}
.list-ranking .item .content {
    border-bottom: 1px solid #eee;
    padding: 0.7rem 0rem 0.7rem 10px;
}

.list-ranking .item:last-child .content{
    border-bottom: unset;
}


.list-ranking .item .content .thumb {
    padding-right: 1rem;
}


.list-ranking .item .index i {
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    width: 24px;
    height: 32px;   
    margin-right: 10px;     
}
.icon-medal-1 {
    background-image: url(https://linkjj.com/img/medal-1.svg);
}           
.icon-medal-2 {
    background-image: url(https://linkjj.com/img/medal-2.svg);
}
.icon-medal-3 {
    background-image: url(https://linkjj.com/img/medal-3.svg);
}                   

/*--------------------------------------------------------------------------
|                      About
|--------------------------------------------------------------------------*/

.dividerHeader {
    display: block;
    text-align: center;
    position: relative;
}

.dividerHeader:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(50% - 1px);
    z-index: -1;
    border-top-width: 5px;
    margin: 0px 0px 20px 0px;
    border-width: 0;
    border-color: #1ebbf0;
    -moz-border-image: -moz-linear-gradient(left,#1ebbf0 30%,#39dfaa 100%);
    -webkit-border-image: -webkit-linear-gradient(left,#1ebbf0 30%,#39dfaa 100%);
    border-image: linear-gradient(left,#1ebbf0 30%,#39dfaa 100%);
    border-image-slice: 1;
    height: 2px;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(0,0,0,.08);
    border-left: none;
    border-right: none;
    border-bottom: none;
    line-height: 9px;
}

.dividerHeader span {
    text-transform: capitalize;
    background-color: #fff;
    padding: 0 1rem;
    font-family: "Oswald";
    font-weight: normal;
    font-size: 20px;
}



#about li {
    margin-right: 0px;
    line-height: 2.2;
    display: flex;align-items: center;
    font-size: 14px;
}
#about li::before {
    content: "-";
    background-image: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
    padding: 6px 4px;
    color: white;
    border-radius: 50%;
    line-height: 0;
    margin-top: -1px;
    margin-right: 5px;
    
}
#about li ul li::before {
    content: "+";
    padding: 5.5px 2.2px;

}

#about li.unset::before {
    content: unset;  
}

#about ul {
    margin: 0px;
    padding: 10px 0px;
    list-style-type: none;
}
#about ul.child {
    margin: 0px;
    padding: 3px 0px 3px 30px;
    list-style-type: none;
}

#wps-double-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 13px;
    border-radius: 0px;
}
#wps-double-btn .wps-btn-left, #wps-double-btn .wps-btn-right {
    text-decoration: none;
    width: 50%;
    padding: 15px 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    color:#FFFFFF;    
}
#wps-double-btn .wps-btn-right {
    text-align: right;
    background: -webkit-linear-gradient( 135deg,#1ebbf0 30%,#39dfaa 100%);     
}
#wps-double-btn .wps-btn-left {
    text-align: left;
    background: -webkit-linear-gradient( 135deg,#39dfaa 10%,#1ebbf0 100%);   
}
#wps-double-btn .wps-btn-left:hover, #wps-double-btn .wps-btn-right:hover {
    -webkit-box-shadow: inset 0 0 100px 100px rgb(255 255 255 / 10%);
    box-shadow: inset 0 0 100px 100px rgb(255 255 255 / 10%);
}
#wps-double-btn>span {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background: #fff;
    color: #444;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-box-shadow: 0 0 0 6px rgb(255 255 255 / 20%);
    box-shadow: 0 0 0 6px rgb(255 255 255 / 20%);
}

        #newest {
            margin-top: -5px;
        }
        .list-ranking .item:first-child .media {
            padding-top: 0px;
        }       
        #btv_de_cu .list-ranking .item {
            padding-left: 0px;
        }
        #btv_de_cu .list-ranking .item .content {
            padding: 0.7rem 0px 0.7rem 0px; 
        }                           
        #btv_de_cu .list-ranking .item:first-child .media {
            justify-content: unset;
            padding-top: 0px;
        }
        #btv_de_cu .list-ranking .item:first-child .media .thumb{
            justify-content: unset;
            padding-top: 0px;
        }       
        #btv_de_cu .list-ranking .item:first-child .media .info {
            margin-left: 10px;
        }   
        #btv_de_cu .list-ranking .item .media .view {
            max-height: 46px;
            margin-bottom: 4px;
        }
        #new_hot {}

/*--------------------------------------------------------------------------
|                      ALL home css
|--------------------------------------------------------------------------*/


.top-layout-mb, .top-layout, .top-layout-child {
    padding-top: 10px;
}

@media (min-width: 1024px) {
    .top-layout-mb {
        padding-top: 0px;
    }
    .top-layout {
        padding-top: 20px;
    }   
    .top-layout-child {
        padding-top: 15px;
    }     
}

/*--------------------------------------------------------------------------
|                     BTV Đề Cử
|--------------------------------------------------------------------------*/
.overBox {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #eac100;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    text-align: center;
    padding: 2px;   
    font-size: 12px;
}

#slider-premiumItem-img2 .premiumItem .img,#slider-premiumItem-img3 .premiumItem .img {
    position: relative;
    margin-bottom: 10px;
}
#slider-premiumItem-img2 .title,#slider-premiumItem-img3 .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center; 
    font-size: 12px;
}

.lb-item {
    position: absolute;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient( 135deg,#1ebbf0 30%,#39dfaa 100%);
    text-align: center; 
    line-height: 20px;
    margin-left: -8px;
    font-size: 8px;
    padding: 2px 10px;
    top: 5px;
}
.lb-item:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #39dfaa transparent transparent;
    position: absolute;
    top: 100%;
    left: 0;
}

@media (min-width: 992px) {
    #slider-premiumItem-img2 .img img,#slider-premiumItem-img3 .img img {
        width: 140px;
    }

    #slider-premiumItem-img2 .slick-slide img,#slider-premiumItem-img3 .slick-slide img {
        text-align: center;
        margin: auto;
    }

    #slider-premiumItem-img2 .premiumItem .img, #slider-premiumItem-img3 .premiumItem .img {
        margin: 0 auto;
        margin-bottom: 10px;
        display: block;
        text-align: center;
        width: 140px;
        max-width: 100%;
    }

    #slider-premiumItem-img2 .title,#slider-premiumItem-img3 .title {
        -webkit-line-clamp: 1;
        font-size: 14px;
    }

    .lb-item {
        top: 10px;
        padding: 4px 10px;
        font-size: 12px;
    }
    .overBox {
        padding: 5px;   
        font-weight: 14px;
    }

}
/*--------------------------------------------------------------------------
|                    layout bxh truyện
|--------------------------------------------------------------------------*/
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
        background: -webkit-linear-gradient( 135deg,#39dfaa 10%,#1ebbf0 100%);
        text-align: center;
        color: white;
        border: unset;
    }
    .nav-tabs {
        margin-bottom: 10px;
        font-size: 12px;
        border-bottom: 1px solid #1ebbf0;
    }
    .nav.nav-tabs-css>li>a {
        padding: 5px 5px;
        font-weight: 600;
        text-align: center;
    }
/*    .nav.nav-tabs-css>li.active>a {
        padding: 5px 20px;
    }  */  
    .nav-tabs>li>a {
        border-radius: unset;
    }
    .nav-tabs>li {
        margin-bottom: -3px;
        width: 25%;
    }
    .nav-tabs>li>a:hover {
        border-color: transparent;
    }
    .nav>li>a:hover, .nav>li>a:focus {
        background: -webkit-linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
        color: transparent;
        -webkit-background-clip: text;
        text-decoration: none;
    }

.u-avatar {
    float: left;
    margin-right: 10px;
}

.u-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.u-user {
    display: grid;
    width: 100px;
}
.u-user a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    color: black;
}
.item-user {
    display: inline-block;  
    margin-right: 20px;
}
@media (min-width: 992px) {
    .u-avatar {
        float: unset;
        margin-right: 0px;
    }
    .u-user {
        width: 78px;
    }
    .u-user a{
        margin: 3px 0px;
        font-size: 11px;
    }

    .item-user {
        margin-right: 0px;
        margin-bottom: 0px;
        justify-content: center;
    }
    .item-user:last-child {
        margin-bottom: 0px;
    }
}.font-16{
    font-size: 16px;
}

h1 {
            font-family: "Oswald";
            font-weight: normal;
            font-size: 26px;
            text-align: center;     
        }   
        .user_nickname {
            font-family: "Oswald";
            font-size: 20px;
            text-align: center;
            margin: 0px 0px 0px 0px;        
        }


        .user_avatar_parent, .user_avatar_2 img {
            width: 100px;
            height: 100px;
        }
        .user_avatar_parent {
            position: relative;
            display: block;
        }
        .user_avatar_2 img {
            display: block;
            margin-left: auto;
            margin-right: auto;     
            border-radius: 50%;
        }
        .user-badge img{
            width: 20px;
        }

        #ss-user {
            display: flex;
            justify-content: space-evenly;
            align-items: center;            
        }
        .ss-info {
            text-align: center;
        }

        .list-group-item.tf-active {
            background-image: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);
            color: white;
        }
        .list-group-item.tf-active a{
            color: white;
        }   
        #user-sidebar .list-group-item {
            border: 1px solid #1ebbf0;
            width: 49%;
            display: inline-block;
            min-height: 44px;
            max-height: 55px;
        }

        @media (min-width: 768px) {
            #ss-user {
                display: unset;         
            }           
            .theloai-thumlist h3 {
                min-height: 45px;
            } 
            .user_avatar_parent, .user_avatar_2 img {
                width: 150px;
                height: 150px;
            }
            .user_avatar_2 img {    
                border-radius: unset;
            }
            .user_nickname {
                margin: 12px 0px 0px 0px;       
            }
            .user_avatar_parent {
                margin-left: auto;
                margin-right: auto;
            }
            #user-sidebar .list-group-item {
                width: 33%
            }           
        }       
        @media (min-width: 1200px) {
            #user-sidebar .list-group-item {
                width: 100%;
                display: block;
            }           
        } 
        ul.list-group li {

        }


        /** Top sidebar **/
        .hr-primary {
            border-top-width: 5px;
            margin: 0px 0px 20px 0px;
            border-width: 0;
            border-color: #1ebbf0;
            -moz-border-image: -moz-linear-gradient(left,#1ebbf0 30%,#39dfaa 100%);
            -webkit-border-image: -webkit-linear-gradient(left,#1ebbf0 30%,#39dfaa 100%);
            border-image: linear-gradient(left,#1ebbf0 30%,#39dfaa 100%);
            border-image-slice: 1;
            height: 2px;
            border-style: solid;
            border-width: 2px;
            border-color: rgba(0,0,0,.08);
            border-left: none;
            border-right: none;
            border-bottom: none;
            line-height: 9px;
        }
        @media (min-width: 768px) {
            .hr-primary {
                height: 4px;
                border-width: 4px;
            }
        }       

        .list-group.list-group-horizontal {
            border-radius: 4px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            position: relative;
            margin-bottom: 0px; 
            margin-top: 30px;
        }
        .list-group-horizontal .list-group-item {
            display: inline-block;
            margin-bottom: -1px;
            margin-right: -4px;
            min-height: 44px;
/*          border-right-width: 0;
*/
        }
        .list-group-horizontal .list-group-item:first-child
        {
            border-top-right-radius:0;
            border-bottom-left-radius:4px;
        }
        .list-group-horizontal .list-group-item:last-child
        {
            border-top-right-radius:4px;
            border-bottom-left-radius:0;
            border-right-width: 1px;
        }
        /*-------------------------------------------------
        |           Badge
        |-------------------------------------------------*/
        .badge {
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
        }
        .badge-success {
            color: #fff;
            background-color: #28a745;
        }
        .badge-info {
            color: #fff;
            background-color: #17a2b8;
        }
        .badge-warning {
            color: #212529;
            background-color: #ffc107;
        }
        .badge-danger {
            color: #fff;
            background-color: #dc3545;
        }
        .badge-secondary {
            color: #fff;
            background-color: #6c757d;
        }       
        .pull-right .badge, a .badge, .tf-active .badge{
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            background-image: linear-gradient(135deg,#000000 30%,#746754 100%);
            border-radius: 10px;
            border: white 1px solid;
            margin-bottom: 1px;
        }
        #tf-user ul.dropdown-menu i.fa {
            width: 15px;
        }

/*      @media (min-width: 1200px) {
            .pull-right .badge, a .badge, .tf-active .badge{
                padding: 3px 7px;
                font-size: 12px;
            }
        }*/ 
        /*-------------------------------------------------
        |            Button Ajax Loading
        |-------------------------------------------------*/
        .lds-ellipsis{display:inline-block;position:relative;margin-bottom:10px}.lds-ellipsis div{position:absolute;top:0;width:13px;height:13px;border-radius:50%;background-image:linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%);animation-timing-function:cubic-bezier(0,1,1,0)}.lds-ellipsis div:nth-child(1){left:8px;animation:lds-ellipsis1 .6s infinite}.lds-ellipsis div:nth-child(2){left:8px;animation:lds-ellipsis2 .6s infinite}.lds-ellipsis div:nth-child(3){left:32px;animation:lds-ellipsis2 .6s infinite}.lds-ellipsis div:nth-child(4){left:56px;animation:lds-ellipsis3 .6s infinite}@keyframes lds-ellipsis1{0%{transform:scale(0)}100%{transform:scale(1)}}@keyframes lds-ellipsis3{0%{transform:scale(1)}100%{transform:scale(0)}}@keyframes lds-ellipsis2{0%{transform:translate(0,0)}100%{transform:translate(24px,0)}}
        .text-center .lds-ellipsis {margin-left: -75px}


        .list-group-item .dropdown-menu {
            left: unset;
            right: 0;
        }