*:focus {
	outline: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important; 
}

/* Typography */
body {
	font-size: 13px;
	color: #575962; 
}

a{
	color: #1572E8;
}

a:hover, a:focus{
	color: #1269DB;
}


/* Typography */

/* Wrapper */
.wrapper {
	min-height: 100vh;
	position: relative;
	top: 0;
	height: 100vh; 
}
.header-main {
	min-height: 55px;
	width: 100%;
	position: fixed;
	z-index: 1001 
}